# Demonstration desktop entry file for Snapcrafters Template Plus
# Refer the Desktop Entry Specification on how to write this file:
# https://specifications.freedesktop.org/desktop-entry-spec
[Desktop Entry]
Version=1.0
Type=Application
Name=BLOCK
Comment=Satisfying!  The new block breaking experience.
Comment[ja_JP]=爽快！新感覚ブロック崩し
Exec=block
Icon=${SNAP}/meta/gui/block.256px.png
Categories=Development
